<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app">
        <div class="container">

            <div class="aggiungi">
                <h3 class="my-3">Aggiungi una nuova Task</h3>

                <input type="text" v-model="nuovaTask" @keyup.enter="aggiungiTask">
                <button class="mx-3 px-3" @click="aggiungiTask">Aggiungi</button>
                <small class="mx-3 text-danger" v-show="error">Devi inserire una task che non sia già presente nella lista, e non è valido inserire una task vuota</small>
            </div>


            <div class="task-list">
                <h3 class="my-3">To DO con VUE</h3>
                <ul>
                    <li v-for="(task,i) in tasks"  :class="task.done === true ? 'task-done' : ''" @click="done(i)">
                        
                        {{task.text}}
                        <i class="fa-solid fa-circle-xmark" @click.stop="cancellaTask(i)"></i>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script src=" https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./assets/js/app.js" type="module"></script>
</body>

</html>